<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smarttrack.app">

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true"/>

    <application
        android:name=".serviceApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="true"
        android:allowBackup="true">

        <activity android:name=".SplashScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LanguageSelectionActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".DeviceScanActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".DeviceMainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".LightViewActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".MotorViewActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <service android:name=".BluetoothLeService" android:enabled="true"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>